<!DOCTYPE html>
<html lang="zh-hans">
<head>
    <meta charset="UTF-8">
    <title><%= typeof title !== 'undefined' ? title : '默认模板' %></title>

</head>
<body>
    <%- body %> <!-- 内容插入区域 -->
 
</body>
</html>