<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>这是默认模板</title>
</head>
<body>

    <main>
        <%- body %> <!-- 内容插入区域 -->
    </main>
    <footer>
        <p>© 2024 My Application</p>
    </footer>
</body>
</html>